* {
    margin-bottom : 2%;
  }
  body {
    background: black ;
    color: white;
    display: flex;
    font-family: sans-serif;
    margin-top: 20vh;
  }
  #main {
    font-weight: bold;
    display: grid;
    background:white;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    border-radius: 10px;
    border-bottom: 5px solid blue;
  }
  button {
    color: white;
    background : blue;
    font-weight: bold;
    border-radius: 5%;
    max-width: 35%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  result {
    font-weight : bold;
  }
  input {
    text-align: center;
    font-weight: bold; font-family:sans-serif;
  }
  #parent {
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: auto;
  }
  #title {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  
  }
  #hint {
    background : white;
    color: black;
    width: 40%;
    margin-top: 5%;
    padding: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    justify-content: center ;
    align-items: center ;
    font-weight: bold;
    text-align: center;
  }
  button:hover {
    cursor: pointer;
    background : black;
  }
  